mwlResizable {
  box-sizing: border-box;
}
tr:hover {
  cursor: pointer;
  background: rgb(222 220 230) !important;
}
tr.hovered {
  background: rgb(222 220 230) !important;
}
tr.highlighted {
  background: rgb(222 220 230) !important;
}
tr.check-box-row.highlighted {
  background: none;
}
tr.check-box-row.hovered {
  background: rgb(222 220 230) !important;
}
th,
td {
  font-size: 10pt !important;
  font-family: system-ui, sans-serif, Roboto, "Helvetica Neue" !important;
}
.cell-prefix {
  font-weight: 500;
  margin-right: 1px;
}
.cell-suffix {
  font-weight: 500;
  margin-left: 1px;
}
th {
  font-size: 10pt !important;
  font-weight: 700 !important;
}
td.mat-table-sticky:not(.mat-column-action) {
  z-index: unset !important;
  font-weight: 500 !important;
}
.expand-row-actions {
  font-size: 14pt !important;
}
.expand-row-actions.expanded {
  transform: rotate(90deg) !important;
  font-size: 14pt !important;
}
.mat-column-action:not(.expanded) {
  .grid-row-action-btn {
    font-size: 14pt !important;

    &:hover {
      color: rgb(222 220 230);
    }
  }
  .grid-row-action-btn-icon {
    font-size: 14pt !important;
  }
}
.mat-column-action.expanded {
  overflow-x: visible !important;

  .grid-row-action-btn {
    font-size: 14pt !important;
    &:hover {
      color: rgb(222 220 230);
    }
  }
}

.content-grid-wrapper {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  height: 100%;
  overflow-y: hidden;

  .table-container {
    width: 100%;
  }

  table {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}
::-webkit-scrollbar-track {
  background-color: rgb(206, 203, 216) !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
}
::-webkit-scrollbar {
  height: 8px !important;
  width: 8px !important;
  background-color: rgb(206, 203, 216) !important;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(175, 173, 184)  !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(175, 173, 184) !important;
} 
